USE [master]
GO
/****** Object:  Database [DriveExplorerTwo]    Script Date: 02/06/2020 23:39:12 ******/
CREATE DATABASE [DriveExplorerTwo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DriveExplorerTwo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DriveExplorerTwo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DriveExplorerTwo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DriveExplorerTwo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DriveExplorerTwo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DriveExplorerTwo]
GO
/****** Object:  Table [dbo].[CurrentJobs]    Script Date: 02/06/2020 23:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrentJobs](
	[PathID] [int] NOT NULL,
	[Path] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepoStatus]    Script Date: 02/06/2020 23:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepoStatus](
	[DrivePath] [varchar](max) NULL,
	[NumberOfFiles] [int] NULL,
	[SizeOfFiles] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
