{% extends "diskUsage/base/base.html" %}

{% block content %}

  <div class="container">
    <h1>Admin</h1>
  </div>
  <table class="table">
    <tr>
      <th>Service Status</th>
    </tr>
    {% for cmd in mylist %}
    <tr>
      <td>
        {{ cmd.status }}
      </td>
      <td>
        <a href="{% url 'service' 0 %}" class="px-5 btn btn-primary">Refresh</a>
        <a href="{% url 'service' 1 %}" class="px-5 btn btn-success">Start</a>
        <a href="{% url 'service' 2 %}" class="px-5 btn btn-danger">Stop</a>
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
